In [1]:
import pandas as pd

In [23]:
#DTI를 피쳐값으로 두고 고객등급 구하는 모델
df = pd.read_csv("./data/bankloan_dataset_prep.csv")

df.head(5)

,Unnamed: 0,Unnamed: 0.1,CUSTOMER_ID,LOAN_YEAR,LOAN_DT,WORK_TERM,HOME_OWNERSHIP,INCOME_LEVEL,YEAR_INCOME,LOAN_AMOUNT,...,CUSTOMER_LEVEL,DTI,LAST_PAYMENT,TOTAL_RECV_PRINCIPAL,RECV_LOAN,INSTALLMENT_PAYMENT,AREA,CUSTOMER_GRADE,HOME_OWNERSHIP_LE,CUSTOMER_GRADE_LE
0,0,0,231321,2008,2008-01-01,5.0,NONE,Low,22200,10000,...,A,52.03,11239.56,9999.99,0.0,312.22,leinster,E,2,4
1,1,1,79893,2007,2007-01-07,0.5,NONE,Low,75027,6700,...,A,10.31,7530.42,6700.00,0.0,209.18,Northern-Irl,B,2,1
2,2,2,79924,2007,2007-01-08,0.5,NONE,Low,75027,7000,...,A,10.78,7867.53,7000.00,0.0,218.55,Northern-Irl,B,2,1
3,3,3,312750,2008,2008-01-04,10.0,OTHER,Medium,160000,6000,...,A,4.35,6767.76,6000.00,0.0,188.02,leinster,A,3,0
4,4,4,323300,2008,2008-01-04,0.5,OTHER,Low,35000,7000,...,A,23.20,7891.39,7000.00,0.0,219.36,leinster,D,3,3

In [24]:
features = ['YEAR_INCOME', 'LOAN_AMOUNT', 'LOAN_RATE']
X = df[features]
X.head(3)

   YEAR_INCOME  LOAN_AMOUNT  LOAN_RATE
0        22200        10000       7.75
1        75027         6700       7.75
2        75027         7000       7.75

In [25]:
y = df['CUSTOMER_GRADE_LE']

In [26]:
y.head(3)

0    4
1    1
2    1
Name: CUSTOMER_GRADE_LE, dtype: int64

In [27]:
from sklearn.model_selection import train_test_split
train_input, test_input, train_target, test_target = train_test_split(X, y, random_state=1)

In [28]:
#의사 결정 트리.

from sklearn.tree import DecisionTreeClassifier
dmodel = DecisionTreeClassifier(random_state=1)
dmodel.fit(train_input,train_target)

DecisionTreeClassifier(random_state=1)

In [29]:
print("TRAIN : ", dmodel.score(train_input,train_target))
print("TEST : ", dmodel.score(test_input,test_target))

TRAIN :  1.0
TEST :  0.9913633392684081

In [30]:
print(y)

0         4
1         1
2         1
3         0
4         3
         ..
887372    4
887373    4
887374    4
887375    4
887376    1
Name: CUSTOMER_GRADE_LE, Length: 887377, dtype: int64

In [31]:
from xgboost import XGBClassifier
xgb_model = XGBClassifier(n_estimators=20, max_depth=10, random_state=1)
xgb_model.fit(train_input, train_target)

C:\Users\cdy16\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[16:23:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=10,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=20, n_jobs=4, num_parallel_tree=1,
              objective='multi:softprob', random_state=1, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [32]:
#의사결정트리
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state=1)
#random_state=1을 하면 값이 계속 바뀜, 스코어가 바뀜 >> random_state가 뭔지 찾아보기

In [33]:
model.fit(X,y)

DecisionTreeClassifier(random_state=1)

In [34]:
model.score(X,y)
#score가 몇일때 유의미한 데이터인가?

1.0

In [40]:
import joblib
#xgboost를 save해야함
joblib.dump(xgb_model,'./model/customerGrade_model.pkl')

['./model/customerGrade_model.pkl']

In [41]:
model = joblib.load('./model/customerGrade_model.pkl')

In [55]:
매년수입 = 100000
대출액 = 10000
대출이자 = 13

dti_df = pd.DataFrame([[매년수입, 대출액, 대출이자]],
                 columns=['YEAR_INCOME', 'LOAN_AMOUNT', 'LOAN_RATE'])

print(dti_df)

result = model.predict(dti_df)

print('\n')
print('등급 : ', result[0])

#result = y = customer_grade_le
#등급 : 0, 1, 2, 3, 4 >> 4등급 : E
#dti : 돈을 갚을 수 있는 능력

   YEAR_INCOME  LOAN_AMOUNT  LOAN_RATE
0       100000        10000         13


등급 :  1