In [1]:
import pandas as pd

In [3]:
from google.cloud import bigquery

client = bigquery.Client()

# Download query results.
query = """
SELECT * FROM `sixth-tempo-323301.test_poc_dataset.cabbage-predict`
"""

df = client.query(query).to_dataframe()

In [5]:
df.head()

       year  avgTemp  minTemp  maxTemp  rainFall  avgPrice
0  20121205      0.0     -3.8      5.4       6.7      2600
1  20130204      2.0     -1.6      6.3       4.2      3702
2  20110301      2.5     -0.4      5.6       3.2      4710
3  20151203      3.0     -0.3      6.5       3.0      2240
4  20160228      4.0     -0.5     10.5       5.8      3147

In [9]:
data_features = ['avgTemp', 'minTemp', 'maxTemp','rainFall']

In [10]:
X = df[data_features]

In [11]:
X.head()

   avgTemp  minTemp  maxTemp  rainFall
0      0.0     -3.8      5.4       6.7
1      2.0     -1.6      6.3       4.2
2      2.5     -0.4      5.6       3.2
3      3.0     -0.3      6.5       3.0
4      4.0     -0.5     10.5       5.8

In [12]:
y = df.avgPrice

In [13]:
y.head()

0    2600
1    3702
2    4710
3    2240
4    3147
Name: avgPrice, dtype: int64

In [14]:
#model생성
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state=1)

In [15]:
model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [16]:
model.score(X,y)

0.999125889221821

In [17]:
avgTemp = 2.0
minTemp = -5.0
maxTemp = 1.3
rainFall = 1.3

input_features = [[avgTemp, minTemp, maxTemp, rainFall]]
result = model.predict(input_features)

In [18]:
input_features = [[avgTemp, minTemp, maxTemp, rainFall]]

In [22]:
result = model.predict(input_features)

In [20]:
print ('평균기온', avgTemp, '일때의 배추값 : ', result)

평균기온 2.0 일때의 배추값 :  [1912.]

In [23]:
result

array([1912.])