In [25]:
import pandas as pd

In [29]:
from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client()

query = """
SELECT *  FROM `sixth-tempo-323301.test_poc_dataset.cabbage-predict`
"""
  # Make an API request.

In [30]:
df = client.query(query).to_dataframe()

In [33]:
df.shape

(2922, 6)

In [34]:
df.head

<bound method NDFrame.head of           year  avgTemp  minTemp  maxTemp  rainFall  avgPrice
0     20121205      0.0     -3.8      5.4       6.7      2600
1     20130204      2.0     -1.6      6.3       4.2      3702
2     20110301      2.5     -0.4      5.6       3.2      4710
3     20151203      3.0     -0.3      6.5       3.0      2240
4     20160228      4.0     -0.5     10.5       5.8      3147
...        ...      ...      ...      ...       ...       ...
2917  20140726     25.6     21.6     29.5       1.8      2938
2918  20150727     26.6     23.5     30.4       1.8      2821
2919  20160823     27.3     23.6     32.2       1.8      5472
2920  20140108      2.1     -1.4      5.3       1.8      2429
2921  20100618     23.8     20.7     27.9       1.8      2800

[2922 rows x 6 columns]>

In [35]:
df.head()

       year  avgTemp  minTemp  maxTemp  rainFall  avgPrice
0  20121205      0.0     -3.8      5.4       6.7      2600
1  20130204      2.0     -1.6      6.3       4.2      3702
2  20110301      2.5     -0.4      5.6       3.2      4710
3  20151203      3.0     -0.3      6.5       3.0      2240
4  20160228      4.0     -0.5     10.5       5.8      3147

In [39]:
data_features = ['avgTemp', 'minTemp', 'maxTemp', 'rainFall']

In [40]:
X = df[data_features]

In [41]:
X.head()

   avgTemp  minTemp  maxTemp  rainFall
0      0.0     -3.8      5.4       6.7
1      2.0     -1.6      6.3       4.2
2      2.5     -0.4      5.6       3.2
3      3.0     -0.3      6.5       3.0
4      4.0     -0.5     10.5       5.8

In [43]:
y = df.avgPrice

In [44]:
y.head()

0    2600
1    3702
2    4710
3    2240
4    3147
Name: avgPrice, dtype: int64

In [45]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state=1)

In [46]:
model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [48]:
model.score(X,y)

0.999125889221821

In [49]:
avgTemp = 0.0
minTemp = -3.5
maxTemp = 5.1
rainFall = 6

In [50]:
input_features = [[avgTemp, minTemp, maxTemp, rainFall]]

In [52]:
result = model.predict(input_features)

In [58]:
print('예상 배추값 : ', result[0], '원')

예상 배추값 :  2600.0 원

In [59]:
import joblib
joblib.dump(model, './model/practice.pkl')

['./model/practice.pkl']

In [62]:
loaded_model = joblib.load('./model/practice.pkl')

In [64]:
score = loaded_model.score(X,y)
print(score)

0.999125889221821

In [65]:
model.predict(X)

array([2600., 3702., 4710., ..., 5472., 2429., 2800.])

In [66]:
model.predict(X).head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'