In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/bankloan_dataset_local.csv')

In [10]:
df.head(3)

,Unnamed: 0,CUSTOMER_ID,LOAN_YEAR,LOAN_DT,WORK_TERM,HOME_OWNERSHIP,INCOME_LEVEL,YEAR_INCOME,LOAN_AMOUNT,LOAN_TERM,...,LOAN_STATUS,LOAN_RATE,CUSTOMER_LEVEL,DTI,LAST_PAYMENT,TOTAL_RECV_PRINCIPAL,RECV_LOAN,INSTALLMENT_PAYMENT,AREA,CUSTOMER_GRADE
0,0,231321,2008,2008-01-01,5.0,NONE,Low,22200,10000,36 months,...,Good Loan,7.75,A,52.03,11239.56,9999.99,0.0,312.22,leinster,E
1,1,79893,2007,2007-01-07,0.5,NONE,Low,75027,6700,36 months,...,Good Loan,7.75,A,10.31,7530.42,6700.00,0.0,209.18,Northern-Irl,B
2,2,79924,2007,2007-01-08,0.5,NONE,Low,75027,7000,36 months,...,Good Loan,7.75,A,10.78,7867.53,7000.00,0.0,218.55,Northern-Irl,B

In [14]:
df['HOME_OWNERSHIP'].unique()

array(['NONE', 'OTHER', 'ANY', 'OWN', 'RENT', 'MORTGAGE'], dtype=object)

In [15]:
df['CUSTOMER_GRADE'].unique()

array(['E', 'B', 'A', 'D', 'C'], dtype=object)

In [16]:
#레이블 인코딩 과정
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
result = encoder.fit_transform(df['HOME_OWNERSHIP'])
print(result)
print(np.unique(result))
#np : index번호를 뽑아라, 단 뭐가 1번이고 2번이되는지 모른다. 알파벳 순일 가능성 높음
#df에 'HOME_OWNERSHIP_LE'라는 컬럼 추가

df['HOME_OWNERSHIP_LE'] = result

[2 2 2 ... 1 1 1]
[0 1 2 3 4 5]

In [17]:
#CUSTOMER_GRADE 인코딩 과정
encoder = LabelEncoder()
result = encoder.fit_transform(df['CUSTOMER_GRADE'])
print(result)
print(np.unique(result))
#np : index번호를 뽑아라, 단 뭐가 1번이고 2번이되는지 모른다. 알파벳 순일 가능성 높음

#le = label encoder
df['CUSTOMER_GRADE_LE'] = result

[4 1 1 ... 4 4 1]
[0 1 2 3 4]

In [18]:
df = df.replace({'INTEREST_LEVEL': 'Low'}, {'INTEREST_LEVEL': 0})
df = df.replace({'INTEREST_LEVEL': 'High'}, {'INTEREST_LEVEL': 1})

In [19]:
df = df.dropna(axis = 0)

df.head(3)

,Unnamed: 0,CUSTOMER_ID,LOAN_YEAR,LOAN_DT,WORK_TERM,HOME_OWNERSHIP,INCOME_LEVEL,YEAR_INCOME,LOAN_AMOUNT,LOAN_TERM,...,CUSTOMER_LEVEL,DTI,LAST_PAYMENT,TOTAL_RECV_PRINCIPAL,RECV_LOAN,INSTALLMENT_PAYMENT,AREA,CUSTOMER_GRADE,HOME_OWNERSHIP_LE,CUSTOMER_GRADE_LE
0,0,231321,2008,2008-01-01,5.0,NONE,Low,22200,10000,36 months,...,A,52.03,11239.56,9999.99,0.0,312.22,leinster,E,2,4
1,1,79893,2007,2007-01-07,0.5,NONE,Low,75027,6700,36 months,...,A,10.31,7530.42,6700.00,0.0,209.18,Northern-Irl,B,2,1
2,2,79924,2007,2007-01-08,0.5,NONE,Low,75027,7000,36 months,...,A,10.78,7867.53,7000.00,0.0,218.55,Northern-Irl,B,2,1

In [20]:
#alt + enter하면 새로운 줄
df.isnull().sum()

Unnamed: 0              0
CUSTOMER_ID             0
LOAN_YEAR               0
LOAN_DT                 0
WORK_TERM               0
HOME_OWNERSHIP          0
INCOME_LEVEL            0
YEAR_INCOME             0
LOAN_AMOUNT             0
LOAN_TERM               0
LOAN_METHOD             0
LOAN_PURPOSE            0
INTEREST_LEVEL          0
LOAN_STATUS             0
LOAN_RATE               0
CUSTOMER_LEVEL          0
DTI                     0
LAST_PAYMENT            0
TOTAL_RECV_PRINCIPAL    0
RECV_LOAN               0
INSTALLMENT_PAYMENT     0
AREA                    0
CUSTOMER_GRADE          0
HOME_OWNERSHIP_LE       0
CUSTOMER_GRADE_LE       0
dtype: int64

In [21]:
#불러온파일원본명_prep.csv 로 저장
df.to_csv("./data/bankloan_dataset_prep.csv")