In [1]:
import pandas as pd
#Pandas는 파이썬에서 사용하는 데이터분석 라이브러리로
#행과 열로 이루어진 데이터 객체를 만들어 다룰 수 있게 되며 보다 안정적으로 대용량의 데이터들을 처리하는데 매우 편리한 도구이다.
#질문 - 판다스는 csv파일만 읽을 수 있는건가?

In [19]:
file_path = "./data/price_data.csv"
#df = dataframe
df = pd.read_csv(file_path)

In [4]:
#dataframe의 행열갯수 (2922줄, 6열)
df.shape

(2922, 6)

In [5]:
df.head()

       year  avgTemp  minTemp  maxTemp  rainFall  avgPrice
0  20100101     -4.9    -11.0      0.9       0.0      2123
1  20100102     -3.1     -5.5      5.5       0.8      2123
2  20100103     -2.9     -6.9      1.4       0.0      2123
3  20100104     -1.8     -5.1      2.2       5.9      2020
4  20100105     -5.2     -8.7     -1.8       0.7      2060

In [6]:
data_features = ['avgTemp', 'minTemp', 'maxTemp', 'rainFall']
#질문 : 추출할 데이터를 뽑는건가?

In [7]:
#X는 특색, 대문자로 하자고 정함
X = df[data_features]
X.head()

   avgTemp  minTemp  maxTemp  rainFall
0     -4.9    -11.0      0.9       0.0
1     -3.1     -5.5      5.5       0.8
2     -2.9     -6.9      1.4       0.0
3     -1.8     -5.1      2.2       5.9
4     -5.2     -8.7     -1.8       0.7

In [8]:
X.describe()
# describe() 함수는 DataFrame의 계산 가능한 값들에 대한 다양한 계산 값을 보여준다.

           avgTemp      minTemp      maxTemp     rainFall
count  2922.000000  2922.000000  2922.000000  2922.000000
mean     12.980527     8.288227    18.378645     3.445140
std       9.790108    10.232362     9.803192     8.563899
min     -10.800000   -14.800000    -7.400000     0.000000
25%       4.200000    -0.700000     9.700000     0.000000
50%      13.950000     8.700000    19.950000     0.100000
75%      21.700000    17.575000    27.100000     2.175000
max      29.900000    25.900000    35.600000    95.500000

In [9]:
y = df.avgPrice

In [10]:
y.head()

0    2123
1    2123
2    2123
3    2020
4    2060
Name: avgPrice, dtype: int64

In [11]:
#종류 1
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state=1)

In [12]:
#모델 훈련(의사결정 알고리즘을 사용하영 모델 훈련)
# X,y를 모델 훈련을 위해 "적합"한다 > 적합한 후 훈련을 진행한다
model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [13]:
# 모델 학습 후, 결과 점수 평가
model.score(X,y)

0.999125889221821

In [14]:
# 실제 예측을 돌려보기
avgTemp = -4.9
minTemp = -11
maxTemp = 0.9
rainFall = 0

In [15]:
input_features = [[avgTemp, minTemp, maxTemp, rainFall]]

In [16]:
result = model.predict(input_features)

In [17]:
print ('배추예상값 : ', result[0], '원')

배추예상값 :  2123.0 원

In [21]:
import joblib
joblib.dump(model, './model/cabb_model.pkl')

['./model/cabb_model.pkl']

In [26]:
loaded_model = joblib.load('./model/cabb_model.pkl')
score = loaded_model.score(X,y)
print(score)

0.999125889221821